<div class="card">

  <div class="modal-header">
    <h4>Eliminar guía</h4>
  </div>

  <form [formGroup]="eliminarForm" (ngSubmit)=onSubmit(eliminarForm.value)>

    <div class="card-body">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="mensaje">¿Está seguro de eliminar la guía {{guia.numeroGuia}}?</label>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Eliminar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>