<div class="card">

  <div class="modal-header">
    <h4>Modificar clasificación</h4>
  </div>

  <form [formGroup]="modificarForm" (ngSubmit)=onSubmit(modificarForm.value)>

    <div class="card-body">

      <div *ngIf="clasificacion.activo">

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="nombre">Nombre de clasificación</label>
              <input class="form-control" type="text" name="nombre" id="nombre" formControlName="nombre">
              <span *ngIf="!modificarForm.get('nombre').valid && modificarForm.get('nombre').touched"
                class="text-danger small">
                El nombre de la clasificación no puede estar vacío
              </span>
            </div>
          </div>
        </div>

      </div>



      <div class="form-row">
        <div class="col-9">
          <div class="form-group">
            <label for="activo">Estado</label>
            <select class="form-control" id="activo" formControlName="activo">
              <option value="true">ACTIVADO
              </option>
              <option value="false">DESACTIVADO
              </option>
            </select>
            <span *ngIf="!modificarForm.get('activo').value" class="text-danger small">
              No se puede modificar si está desactivado
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success"
        [disabled]="!modificarForm.valid || modificarForm.pristine">Modificar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>