<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Lista de guías activas</h2>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <button type="button" class="btn btn-primary mb-4" (click)="crearGuia()">Nueva Guía</button>
  </div>
</div>
<div *ngIf="guias.length !== 0; else mensaje" class="center">
  <ng2-smart-table [settings]="settings" [source]="dataEnvios"></ng2-smart-table>
</div>
<ng-template #mensaje>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No existen guías creadas
      </div>
    </div>
  </div>
</ng-template>