<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h1>Resumen de los Indicadores de Distribución del Mes</h1>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">
    <div class="card mb-5">

      <div class="card-header">
        <h4>Datos de Consulta</h4>
      </div>

      <div class="card-body">
        <form [formGroup]="documentoForm" (ngSubmit)="MostrarReportes(documentoForm.get('fechaIni').value, documentoForm.get('fechaFin').value)">

          <div class="form-row">

            <div class="col-4">
              <div class="form-group">
                <label for="fechaIni">Fecha Inicial</label>
                <input class="form-control" type="date" formControlName="fechaIni">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="fechaFin">Fecha Final</label>
                <input class="form-control" type="date" formControlName="fechaFin">
              </div>
            </div>

            <div class="col-4 mt-4">
              <div class="col">
                <button type="submit" class="btn btn-primary form-control mt-2">
                  CONSULTAR
                </button>
              </div>
            </div>

          </div>

        </form>
      </div>

    </div>

    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="card mb-4">
      <div class="card-header">
        <div class="titulo">
          <h4>Volumen de Distribución - Por Courier</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <jqxChart #myChart [width]="getWidth()" [height]="500" [title]="'EXACT SAC'" [description]="'Gráfico Maldito'"
              [showLegend]="true" [enableAnimations]="true" [padding]="paddingC" [titlePadding]="titlePaddingC"
              [source]="dataSource" [showBorderLine]="true" [seriesGroups]="seriesGroupsPro" [colorScheme]="'scheme09'">
            </jqxChart>
          </div>
          <div class="col">

            <table class="table">
              <thead>
                <tr *ngFor="let proveedor of proveedores">
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let documento of documentos">
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="card mb-4">
      <div class="card-header">
        <div class="titulo">
          <h4>Volumen de Distribución - Por UTD</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <jqxChart #myChart [width]="getWidth()" [height]="500" [title]="'EXACT SAC'" [description]="'Gráfico Maldito'"
              [showLegend]="true" [enableAnimations]="true" [padding]="paddingU" [titlePadding]="titlePaddingU"
              [source]="dataSource2" [showBorderLine]="true" [seriesGroups]="seriesGroupsUtd" [colorScheme]="'scheme12'">
            </jqxChart>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="card mb-4">
      <div class="card-header">
        <div class="titulo">
          <h4>Volumen de Distribución - Por Tipo de Servicio</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <jqxChart #myChart [width]="getWidth()" [height]="500" [title]="'EXACT S.A.C'" [description]="'tu Exact, mi Exact, nuestro Exaaaact'"
              [showLegend]="true" [enableAnimations]="true" [padding]="paddingS" [titlePadding]="titlePaddingS"
              [source]="dataSource" [xAxis]="xAxisServicio" [valueAxis]="valueAxisServicio" [seriesGroups]="seriesGroupsSer"
              [colorScheme]="'scheme06'">
            </jqxChart>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>