<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>UTD - Consultar Documentos</h2>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">
    <div class="card mb-2">

      <div class="card-header">
        <h5>Datos de Consulta</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="documentoForm" (ngSubmit)="listarDocumentos(documentoForm.get('codigo').value)">

          <div class="form-row">

            <div class="col-4">
              <div class="form-group">
                <label for="codigo">Código</label>
                <input class="form-control" type="text" formControlName="codigo"  (input) = "documentoForm.controls['codigo'].setValue(documentoForm.get('codigo').value.toUpperCase())" (change)="desactivarFechas(documentoForm.get('codigo').value)">
              </div>
            </div>
          </div>

          <div class="form-row">

            <div class="col-4">
              <div class="form-group">
                <label for="fechaIni">Fecha Inicial</label>
                <input class="form-control" type="date" formControlName="fechaIni" (change)="desactivarCodigo(documentoForm.get('fechaIni').value, documentoForm.get('fechaFin').value)">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="fechaFin">Fecha Final</label>
                <input class="form-control" type="date" formControlName="fechaFin" (change)="desactivarCodigo(documentoForm.get('fechaIni').value, documentoForm.get('fechaFin').value)">
              </div>
            </div>

            <div class="col-4 mt-4">
              <div class="col">
                <button type="submit" class="btn btn-primary form-control mt-2">
                  CONSULTAR
                </button>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="documentos.length !== 0; else mensaje">
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Autogenerado</th>
                    <th scope="col">Remitente</th>
                    <th scope="col">Nro. Documento</th>
                    <th scope="col">Plazo Distribución</th>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Contacto Destino</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">Fecha Creación</th>
                    <th scope="col">Fecha Envío</th>
                    <th scope="col">Fecha último Resultado</th>
                    <th scope="col">Imágen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let documento of documentos">
                    <td scope="col">{{documento.documentoAutogenerado}}</td>
                    <td scope="col">{{documento.envio.buzon.nombre}}</td>
                    <td scope="col">{{documento.nroDocumento}}</td>
                    <td scope="col">{{documento.envio.plazoDistribucion.nombre}}</td>
                    <td scope="col">{{documento.razonSocialDestino}}</td>
                    <td scope="col">{{documento.contactoDestino}}</td>
                    <td scope="col">{{documento.direccion}}</td>
                    <td scope="col">{{documento.distrito.nombre}}</td>
                    <td scope="col">{{documentoService.getUltimoSeguimientoDocumento(documento).estadoDocumento.nombre}}</td>
                    <td scope="col">{{documento.envio.autorizado ? "SÍ":"NO"}}</td>
                    <td scope="col">{{documentoService.getFechaCreacion(documento)}}</td>

                    <td scope="col">{{documentoService.getSeguimientoDocumentoByEstadoId(documento,3) ?
                      documentoService.getSeguimientoDocumentoByEstadoId(documento,3).fecha : " " }}</td>

                    <td scope="col">{{documentoService.getUltimoSeguimientoDocumento(documento).fecha}}</td>

                    <td scope="col"> <a target="_blank" [href]="documentoService.getUltimoSeguimientoDocumento(documento).estadoDocumento.id === 4 || documentoService.getUltimoSeguimientoDocumento(documento).estadoDocumento.id === 5 ? documentoService.getUltimoSeguimientoDocumento(documento).linkImagen : '#' ">{{documentoService.getUltimoSeguimientoDocumento(documento).estadoDocumento.id
                        === 4 || documentoService.getUltimoSeguimientoDocumento(documento).estadoDocumento.id === 5 ?
                        'Link' : '' }}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </form>
      </div>

      <ng-template #mensaje>
        <div class="row">
          <div class="col">
            <div class="alert alert-info" role="alert">
              No hay resultados
            </div>
          </div>
        </div>
      </ng-template>


    </div>
  </div>
</div>