<div class="modal-header">
  <h4 class="modal-title pull-left">Custodia envío masivo</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="pb-2 mt-4 mb-2">
        <div class="card">
          <div class="card-header">
            <h5>
              Masivo {{envio.masivoAutogenerado}}
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Remitente
                </div>
                <div class="col-7">
                  {{envio.buzon.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Area
                </div>
                <div class="col-7">
                  {{envio.buzon.area.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Clasificación
                </div>
                <div class="col-7">
                  {{envio.clasificacion.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Tipo de Servicio
                </div>
                <div class="col-7">
                  {{envio.tipoServicio.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Tipo de Seguridad
                </div>
                <div class="col-7">
                  {{envio.tipoSeguridad.nombre}}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-5">
                  Plazo de Distribución
                </div>
                <div class="col-7">
                  {{envio.plazoDistribucion.nombre}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col">
      <form (ngSubmit)="seleccionar(documentoAutogenerado)">
        <div class="form-row">
          <div class="col-12 col-lg-4 ">
            <input type="text" class="form-control mb-2" id="inlineFormInput"
              (input)="documentoAutogenerado = documentoAutogenerado.toUpperCase()"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="documentoAutogenerado" placeholder="Autogenerado">
          </div>
          <div class="col-12 col-lg-8 btn-group justify-content-center">
            <button type="button" class="btn btn-primary mb-2" (click)="onCustodiar()">Custodiar</button>
            <button type="button" class="btn btn-success mb-2" (click)="onCustodiarCargo()">Custodiar con Cargo</button>
            <button type="button" class="btn btn-warning mb-2" (click)="onCustodiarEtiqueta()">Custodiar con
              Etiqueta</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="envio.documentos.length !== 0">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Seleccionar</th>
            <th scope="col">Código</th>
            <th scope="col">Razón Social</th>
            <th scope="col">Contacto</th>
            <th scope="col">Dirección</th>
            <th scope="col">Fecha de Creación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of envio.documentos">
            <td scope="col">
              <input type="checkbox" [(ngModel)]="documento.checked" class="form-control">
            </td>
            <td scope="col">{{documento.documentoAutogenerado }}</td>
            <td scope="col">{{documento.razonSocialDestino}}</td>
            <td scope="col">{{documento.contactoDestino}}</td>
            <td scope="col">{{documento.direccion}}</td>
            <td scope="col">{{documentoService.getFechaCreacion(documento)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <ngx-barcode hidden *ngFor="let documento of envio.documentos" id="{{documento.documentoAutogenerado}}"
    [bc-value]="documento.documentoAutogenerado" [bc-display-value]="true"></ngx-barcode>
</div>