<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h1>Reporte - eficiencia</h1>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">
    <div class="card mb-5">
      <div class="card-header">
        <h4>Datos de consulta</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="busquedaForm"
          (ngSubmit)="MostrarReportes(busquedaForm.get('fechaIni').value, busquedaForm.get('fechaFin').value)">
          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="fechaIni">Fecha inicial</label>
                <input class="form-control" type="date" formControlName="fechaIni">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="fechaFin">Fecha final</label>
                <input class="form-control" type="date" formControlName="fechaFin">
              </div>
            </div>

            <div class="col-4 mt-4">
              <div class="col">
                <button type="submit" class="btn btn-primary form-control mt-2">
                  Consultar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>




    <!--    <div *ngIf="documentos.length > 0; else mensaje"> -->
    <div class="card mb-5">
      <div class="card-header">
        <h4>Eficiencia - por courier</h4>
      </div>
      <div class="card-body">

        <div class="row justify-content-center">
          <div class="col-10">
            <jqxChart #myChart [height]="500" [title]="'Eficiencia por courier'" [description]="''" [showLegend]="true"
              [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding"
              [source]="eficienciaPorProveedor" [xAxis]="getAxis('proveedor')"
              [valueAxis]="getValueAxis('Cantidad de Entregados')" 
              [seriesGroups]="getSeriesGroups('stackedcolumn', [{dentroPlazo: 'Dentro del Plazo'}, {fueraPlazo: 'Fuera del Plazo'}], 'vertical', 70)" 
              [colorScheme]="'scheme01'">
            </jqxChart>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-10">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Indicador</th>
                  <th scope="col" *ngFor="let proveedor of proveedores">{{proveedor.nombre}}</th>
                  <th scope="col">General</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col">Dentro de Plazo</td>
                  <td scope="col" *ngFor="let proveedor of proveedores">{{dentroPlazoproveedor(proveedor)}}</td>
                  <td scope="col">{{sumadentroplazo()}}</td>
                </tr>
                <tr>
                  <td scope="col">Fuera de Plazo</td>
                  <td scope="col" *ngFor="let proveedor of proveedores">{{fueraPlazoproveedor(proveedor)}}</td>
                  <td scope="col">{{sumafueraplazo()}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>




    <div class="card mb-4">
      <div class="card-header">
        <div class="titulo">
          <h4>Eficiencia - por plazo de distribución - por courier</h4>
        </div>
      </div>
      <div class="card-body">

        <div class="row justify-content-center" *ngFor="let proveedor of proveedores">
          <div class="col-10">
            <h4>{{proveedor.nombre}}</h4>

            <jqxChart #myChart [height]="500" [title]="'Eficiencia - ' + proveedor.nombre" [description]="''"
              [showLegend]="true" [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding"
              [source]="eficienciaPorPlazoDistribucion" [xAxis]="getAxis('plazoDistribucion')"
              [valueAxis]="getValueAxis('Cantidad de entregados')" 
              [seriesGroups]="getSeriesGroups('stackedcolumn', [{dentroPlazo: 'Dentro del Plazo'}, {fueraPlazo: 'Fuera del Plazo'}], 'vertical', 60)" 
              [colorScheme]="'scheme01'">
            </jqxChart>

          </div>
          <div class="col-10 ">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Indicador</th>
                  <th scope="col" *ngFor="let plazoDistribucion of proveedor.plazosDistribucion">
                    {{plazoDistribucion.nombre}}</th>
                  <th scope="col">General</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col">Dentro de Plazo</td>
                  <td scope="col" *ngFor="let plazoDistribucion of proveedor.plazosDistribucion">
                    {{getPorcentajeDentroPlazoPorProveedorYPlazoDistribucion(proveedor, plazoDistribucion) | number: '1.1-1'}}%
                  </td>
                </tr>
                <tr>
                  <td scope="col">Fuera de Plazo</td>
                  <td scope="col" *ngFor="let plazoDistribucion of proveedor.plazosDistribucion">
                    {{getPorcentajeFueraPlazoPorProveedorYPlazoDistribucion(proveedor, plazoDistribucion) | number: '1.1-1'}}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="card mb-4">
        <div class="card-header">
          <div class="titulo">
            <h4>Detalle de eficiencia de distribución por servicio</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-4">
            <div class="col">
              <label for="">Seleccione el proveedor</label>
              <select class="form-control" [(ngModel)]="proveedorElegidoDetalle">
                <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div *ngIf="proveedorElegidoDetalle" class="col">
              <div class="row">
                <div class="col-4 offset-1 mb-4" *ngFor="let plazoDistribucion of proveedorElegidoDetalle.plazosDistribucion; let i = index">
                  <jqxChart [height]="400" [title]="plazoDistribucion.nombre" [description]="''" [showLegend]="false"
                    [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding" [source]="reportesDetalleEficiencia[proveedorElegidoDetalle.nombre + '-' + plazoDistribucion.id]"
                    [xAxis]="getAxis('plazoDistribucion')" [valueAxis]="getValueAxis('Cantidad de entregados', true)" [seriesGroups]="getSeriesGroups('stackedcolumn', [{
                                        dentroPlazo: 'Dentro del Plazo', 
                                        indiceReporte: i
                                      }], 'horizontal')" [colorScheme]="'scheme01'">
                  </jqxChart>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div> -->
    <!--  </div> -->
    <!--     <ng-template #mensaje>
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert" align=center>
            No se encontraron documentos.
          </div>
        </div>
      </div>
    </ng-template> -->
  </div>
</div>