<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Autorizar Envíos</h2>
    </div>
  </div>
</div>

<div class="row" *ngIf="enviosNoAutorizados.length === 0">
  <div class="col">
    <div class="alert alert-info" role="alert">
      No tienes envíos pendientes de autorización
    </div>
  </div>
</div>
<div class="row" *ngIf="enviosNoAutorizados.length !== 0">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Remitente</th>
          <th scope="col">Área</th>
          <th scope="col">Clasificación</th>
          <th scope="col">Tipo de Servicio</th>
          <th scope="col">Tipo de Seguridad</th>
          <th scope="col">Plazo de Distribución</th>
          <th scope="col">Fecha de Creación</th>
          <th scope="col">Cantidad de Documentos</th>
          <th scope="col">Adjunto</th>
          <th scope="col">Autorizar</th>
          <th scope="col">Denegar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envioNoAutorizado of enviosNoAutorizados">
          <td scope="col">{{envioNoAutorizado.buzon.nombre}}</td>
          <td scope="col">{{envioNoAutorizado.buzon.area.nombre}}</td>
          <td scope="col">{{envioNoAutorizado.clasificacion.nombre}}</td>
          <td scope="col">{{envioNoAutorizado.tipoServicio.nombre}}</td>
          <td scope="col">{{envioNoAutorizado.tipoSeguridad.nombre}}</td>
          <td scope="col">{{envioNoAutorizado.plazoDistribucion.nombre}}</td>
          <td scope="col">{{documentoService.getFechaCreacion(envioNoAutorizado.documentos[0])}}</td>
          <td scope="col">{{envioNoAutorizado.documentos.length}}</td>
          <td scope="col" class=" text-center">
            <a [href]="envioNoAutorizado.rutaAutorizacion" target="_blank">
              <span class="oi oi-file"></span>
            </a>
          </td>
          <td scope="col" class=" text-center">
            <span class="oi oi-circle-check text-success pointable" (click)="autorizar(envioNoAutorizado.id)"></span>
          </td>
          <td scope="col" class=" text-center">
            <span class="oi oi-circle-x text-danger pointable" (click)="denegar(envioNoAutorizado.id)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>