<div class="card">

  <div class="modal-header">
    <h4>Agregar proveedor</h4>
  </div>

  <form [formGroup]="agregarForm" (ngSubmit)=onSubmit(agregarForm.value)>

    <div class="card-body">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="nombreProveedor">Nombre del proveedor</label>
            <input class="form-control" type="text" name="nombreProveedor" id="nombreProveedor"
              formControlName="nombreProveedor">
            <span *ngIf="!agregarForm.get('nombreProveedor').valid && agregarForm.get('nombreProveedor').touched"
              class="text-danger small">
              Es necesario ingresar el nombre del proveedor
            </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label for="nombreProveedor">Plazos del proveedor</label>
          <div class="form-group" *ngFor="let plazoDistribucion of plazosDistribucion">
            <div class="form-check">
              <input name="plazosProveedor" id="plazosProveedor" formControlName="plazosProveedor" type="checkbox"
                class="form-check-input" [id]="'pd-' + plazoDistribucion.id"
                (change)="onChangePlazoDistribucionElegido($event, plazoDistribucion)">
              <label class="form-check-label" [for]="'pd-' + plazoDistribucion.id">{{plazoDistribucion.nombre}}</label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!agregarForm.valid">Agregar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>