<div class="card">

  <div class="modal-header">
    <h4>Modificar guia bloque</h4>
  </div>

  <form [formGroup]="modificarForm" (ngSubmit)=onSubmit(modificarForm.value)>

    <div class="card-body">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="numeroGuia">Número de la guía</label>
            <input class="form-control" type="text" name="numeroGuia" id="numeroGuia" formControlName="numeroGuia">
            <span *ngIf="!modificarForm.get('numeroGuia').valid && modificarForm.get('numeroGuia').touched" class="text-danger small">
              El número de la guía no puede estar vacío
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!modificarForm.valid || modificarForm.pristine" >Modificar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>