<div class="card">

  <div class="modal-header">
    <h6>{{titulo}}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <form [formGroup]="guiaForm" (ngSubmit)=onSubmit(archivoAdjunto)>

    <div class="card-body">

      <div class="col-md-12">        
        <label for="archivoAdjunto" style="display:inline;">{{mensaje}}</label>
        <p></p>
        <br>
        <input type="file" class="form-control-file" id="archivoAdjunto" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        (change)="onChangeExcelFile($event.srcElement.files[0])" formControlName="archivoAdjunto">
      </div>

    </div>


    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!guiaForm.valid">{{textoAceptar}}</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{textoCancelar}}</button>
    </div>

  </form>
  
</div>