<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Recepción de devoluciones</h2>
    </div>
  </div>
  <div class="col-2 text-right">
    <div class="pb-2 mt-4 mb-2">
      <button type="button" class="btn btn-success" (click)="exportar()">EXPORTAR</button>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <div class="card-body">
    <form [formGroup]="documentoForm" (ngSubmit)="recepcionarDocumento(documentoForm.get('autogenerado').value)">

      <div class="form-row">

        <div class="col-4">
          <div class="form-group">
            <label for="autogenerado"> Autogenerado : </label>
            <input class="form-control"
              (input)="documentoForm.controls['autogenerado'].setValue(documentoForm.get('autogenerado').value.toUpperCase())"
              type="text" formControlName="autogenerado">
          </div>
        </div>

        <div class="col-4 mt-4">
          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control mt-2">
              RECEPCIONAR
            </button>
          </div>
        </div>

      </div>

      <div *ngIf="documentos.length !== 0; else mensaje">
        <ng2-smart-table [settings]="settings" [source]="dataDocumentosConResultadosYRecepcionados"></ng2-smart-table>
      </div>


    </form>
  </div>

  <ng-template #mensaje>
    <div class="row">
      <div class="col">
        <div class="alert alert-info" role="alert">
          No existen documentos con devoluciones pendientes ni documentos recepcionados
        </div>
      </div>
    </div>
  </ng-template>


</div>