<div class="modal-header">
  <h4 class="modal-title pull-left">Modificar guía</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="pb-2 mt-4 mb-2">
        <form [formGroup]="guiaForm" (ngSubmit)="onSubmit(guiaForm.value)">
          <div class="form-group">
            <label for="proveedor">Proveedor</label>
            <select class="form-control" id="proveedor" formControlName="proveedor">
              <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
            </select>
            <span *ngIf="!guiaForm.get('proveedor').valid && guiaForm.get('proveedor').touched"
              class="text-danger small">
              Es necesario ingresar el proveedor
            </span>
          </div>
          <div class="form-group">
            <label for="numeroGuia">Número de Guía</label>
            <input class="form-control"
              (input)="guiaForm.controls['numeroGuia'].setValue(guiaForm.get('numeroGuia').value.toUpperCase())"
              pattern="([a-zA-Z0-9])+" type="text" name="numeroGuia" id="numeroGuia" formControlName="numeroGuia">
            <span *ngIf="!guiaForm.get('numeroGuia').valid && guiaForm.get('numeroGuia').touched"
              class="text-danger small">
              Ingrese el número de guía correctamente (5-20)
            </span>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-primary"
                [disabled]="!guiaForm.valid || guiaForm.pristine">Modificar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>