<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Registrar envíos por bloque</h2>
    </div>
  </div>
  <div class="col-2 text-right">
    <div class="pb-2 mt-4 mb-2">
      <a class="btn btn-primary" [href]="rutaPlantilla" target="_blank">
        Plantilla de Carga
      </a>
    </div>
  </div>
</div>

<app-datos-buzon>
</app-datos-buzon>


<br>


<div class="row justify-content-center">
  <div class="col-12">
    <div class="card mb-2">
      <div class="card-header">
        <h5>Datos del envío</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="bloqueForm" (ngSubmit)="onSubmit(bloqueForm)">

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="plazoDistribucion">Plazo de Distribución *</label>
                <select class="form-control" id="plazoDistribucion" formControlName="plazoDistribucion">
                  <option *ngFor="let plazoDistribucion of plazosDistribucion" [ngValue]="plazoDistribucion">
                    {{plazoDistribucion.nombre}}</option>
                </select>
                <span *ngIf="!bloqueForm.get('plazoDistribucion').valid && bloqueForm.get('plazoDistribucion').touched"
                  class="text-danger small">
                  Es necesario seleccionar un plazo de distribución
                </span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="producto">Producto *</label>
                <select class="form-control" id="producto" formControlName="producto">
                  <option *ngFor="let producto of productos" [ngValue]="producto">{{producto.nombre}}</option>
                </select>
                <span *ngIf="!bloqueForm.get('producto').valid && bloqueForm.get('producto').touched"
                  class="text-danger small">
                  Es necesario seleccionar un producto
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="tipoServicio">Tipo de Servicio *</label>
                <select class="form-control" id="tipoServicio" formControlName="tipoServicio">
                  <option *ngFor="let tipoServicio of tiposServicio" [ngValue]="tipoServicio">{{tipoServicio.nombre}}
                  </option>
                </select>
                <span *ngIf="!bloqueForm.get('tipoServicio').valid && bloqueForm.get('tipoServicio').touched"
                  class="text-danger small">
                  Es necesario seleccionar un tipo de servicio
                </span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="tipoSeguridad">Tipo de Seguridad *</label>
                <select class="form-control" id="tipoSeguridad" formControlName="tipoSeguridad">
                  <option *ngFor="let tipoSeguridad of tiposSeguridad" [ngValue]="tipoSeguridad">
                    {{tipoSeguridad.nombre}}</option>
                </select>
                <span *ngIf="!bloqueForm.get('tipoSeguridad').valid && bloqueForm.get('tipoSeguridad').touched"
                  class="text-danger small">
                  Es necesario seleccionar un tipo de seguridad
                </span>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="clasificacion">Clasificación *</label>
                <select class="form-control" id="clasificacion" formControlName="clasificacion">
                  <option *ngFor="let clasificacion of clasificaciones" [ngValue]="clasificacion">
                    {{clasificacion.nombre}}</option>
                </select>
                <span *ngIf="!bloqueForm.get('clasificacion').valid && bloqueForm.get('clasificacion').touched"
                  class="text-danger small">
                  Es necesario seleccionar una clasificación
                </span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="proveedor">Provedor *</label>
                <select class="form-control" id="proveedor" formControlName="proveedor">
                  <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">
                    {{proveedor.nombre}}</option>
                </select>
                <span *ngIf="!bloqueForm.get('proveedor').valid && bloqueForm.get('proveedor').touched"
                  class="text-danger small">
                  Es necesario seleccionar un proveedor
                </span>
              </div>
            </div>
          </div>



          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="codigoGuia">Número de guía *</label>
                <input class="form-control" type="text" name="codigoGuia" formControlName="codigoGuia" id="codigoGuia"
                  minlength="5">
              </div>
            </div>
          </div>

          <br>

          <div class="row" *ngIf="documentosIncorrectos.length === 0">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="cantidadDocumentos">Elegir archivo de Datos : </label>
                <input type="file" class="form-control-file"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="excel"
                  formControlName="excel" (change)="onChangeExcelFile($event.srcElement.files[0])">
              </div>
            </div>
          </div>
        </div>

          <br>
          <div class="row" *ngIf="documentosIncorrectos.length !== 0">
            <div class="col">
              <h5>Subir Correcciones</h5>
              <div class="cantidadCorrectos">
                <label for="cantidadCorrectos">Cantidad de documentos correctos : {{documentosCorrectos.length}}</label>
              </div>
              <div class="cantidadIncorrectos">
                <label for="cantidadIncorrectos">Cantidad de documentos incorrectos :
                  {{documentosIncorrectos.length}}</label>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <input type="file" class="form-control-file"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="excel"
                      formControlName="excel2" (change)="onChangeExcelFile($event.srcElement.files[0])">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="button-group col text-right mb-4 mt-4">
              <button class="btn btn-outline-success" type="submit">
                Registrar
              </button>
            </div>
          </div>

          <ngx-barcode id="codebarBloque" [bc-value]="autogeneradoCreado" [bc-display-value]="true" hidden>
          </ngx-barcode>
        </form>


      </div>
    </div>
  </div>
</div>
<!-- [disabled]="!bloqueForm.valid"  -->