<div class="card">

  <div class="modal-header">
    <h4>Agregar feriado</h4>
  </div>

  <form [formGroup]="agregarForm" (ngSubmit)=onSubmit(agregarForm.value)>

    <div class="card-body">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="nombre" formControlName="nombre">
            <span *ngIf="!agregarForm.get('nombre').valid && agregarForm.get('nombre').touched"
              class="text-danger small">
              Es necesario ingresar el nombre del feriado
            </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input class="form-control" type="date" name="fecha" id="fecha" formControlName="fecha">
            <span *ngIf="!agregarForm.get('fecha').valid && agregarForm.get('fecha').touched" class="text-danger small">
              Es necesario ingresar la fecha del feriado
            </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="periodo">Periodo</label>
            <select class="form-control" id="periodo" formControlName="periodo">
              <option *ngFor = "let periodo of periodos" [ngValue]="periodo">{{periodo.nombre}}</option>
            </select>
            <span *ngIf="!agregarForm.get('periodo').valid && agregarForm.get('periodo').touched"
              class="text-danger small">
              Es necesario ingresar el periodo del feriado
            </span>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="col">
          <label for="region">Región</label>
          <div class="form-group" *ngFor="let region of regiones">
            <div class="form-check">
              <input name="regiones" id="regiones" formControlName="regiones" type="checkbox" class="form-check-input"
                [id]="'pd-' + region.id" (change)="onChangeRegionElegida($event, region)">
              <label class="form-check-label" [for]="'pd-' + region.id">{{region.nombre}}</label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!agregarForm.valid">Agregar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>