<div class="card">

  <div class="modal-header">
    <h4>Modificar horario de atención</h4>
  </div>

  <form [formGroup]="modificarForm" (ngSubmit)=onSubmit(modificarForm)>

    <div class="card-body">

      <div class="col">
        <div formArrayName="diaslaborables">

          <div class="form-row">
            <div class="col">
              Día
            </div>
            <div class="col">
              Activo
            </div>
            <div class="col">
              Hora inicial
            </div>
            <div class="col">
              Hora final
            </div>
          </div>

          <br>

          <div class="form-group"
            *ngFor="let diaLaborableGroup of modificarForm.get('diaslaborables').controls; let i = index">

            <div class="form-row">
              <div class="col">
                {{diaLaborableGroup.get('nombre').value}}
              </div>
              <div class="col">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" 
                  [formControl]="diaLaborableGroup.get('activo')"
                  (change)="desactivarDias(diaLaborableGroup.get('activo').value)">
                </div>
              </div>
              <div class="col">
                <input type="text" class="form-control" [formControl]="diaLaborableGroup.get('horaini')">
              </div>
              <div class="col">
                <input type="text" class="form-control" [formControl]="diaLaborableGroup.get('horafin')">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!modificarForm.valid">Modificar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>