<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Custodia envío masivo</h2>
    </div>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-4">
    <form (submit)="abrir(masivoAutogenerado)">
      <div class="form-row align-items-center">
        <div class="col-7 col-md-8">
          <input type="text" class="form-control" id="inlineFormInput" placeholder="Autogenerado"
            [(ngModel)]="masivoAutogenerado" name="autogenerado"
            (input)="masivoAutogenerado = masivoAutogenerado.toUpperCase()" required>
        </div>
        <div class="col btn-group">
          <button [disabled]="masivoAutogenerado === ''" type="submit" class="btn btn-primary">Abrir</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>

<div *ngIf="enviosmasivo.length !== 0; else mensaje" class="center">
  <ng2-smart-table [settings]="settings" [source]="dataEnvios"></ng2-smart-table>
</div>

<ng-template #mensaje>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No tienes envios masivos a custodiar
      </div>
    </div>
  </div>
</ng-template>