<!-- CAMBIAR ESTE TITULO POR EL setTitulo -->

<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Mantenimiento de producto</h2>
    </div>
  </div>
</div>

<!--  -->

<div class="row">
  <div class="col-10 btn-group">
    <div class="mb-2">
      <button type="button" class="btn btn-success" (click)="onAgregar()">Agregar</button>
    </div>
  </div>
</div>

<br>
<div *ngIf="productos.length !== 0; else mensaje">
  <ng2-smart-table [settings]="settings" [source]="dataProductos"></ng2-smart-table>
</div>
<ng-template #mensaje>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No existen plazos de distribución.
      </div>
    </div>
  </div>
</ng-template>