<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-4">
      <h2>Documentos Custodiados</h2>
    </div>
  </div>
  <div class="col-2 text-right">
    <div class="pb-2 mt-4 mb-4">
      <a class="btn btn-primary" [href]="rutaPlantillaResultados" target="_blank">
        Plantilla de Carga
      </a>
    </div>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-8">
    <form (ngSubmit)="seleccionar(documentoAutogenerado)">
      <div class="form-row align-items-center">
        <div class="col-sm-8">
          <input type="file" class="form-control-file" (change)="onChangeFile($event.srcElement.files[0])" accept=".xlsx">
        </div>
        <div class="col btn-group">
          <button class="btn btn-primary" (click)="subir()">Subir</button>
        </div>
      </div>
    </form>
  </div>
</div>