<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Custodia envío individual</h2>
    </div>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-6">
    <form (ngSubmit) = "seleccionar(documentoAutogenerado)">
      <div class="form-row align-items-center">
        <div class="col-lg-4 col-xl-4">
          <input type="text" class="form-control" id="inlineFormInput" [ngModelOptions]="{standalone: true}" [(ngModel)]="documentoAutogenerado" (input) = "documentoAutogenerado = documentoAutogenerado.toUpperCase()" placeholder="Autogenerado">
        </div>
        <div class="col btn-group">
          <button type="button" class="btn btn-primary" (click)="onCustodiar()">Custodiar</button>
          <button type="button" class="btn btn-success" (click)="onCustodiarCargo()">Custodiar con Cargo</button>
          <button type="button" class="btn btn-warning" (click)="onCustodiarEtiqueta()">Custodiar con Etiqueta</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" *ngIf="enviosCreados.length !== 0; else mensaje">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Seleccionar</th>
          <th scope="col">Código</th>
          <th scope="col">Remitente</th>
          <th scope="col">Área</th>
          <th scope="col">Clasificación</th>
          <th scope="col">Tipo de Servicio</th>
          <th scope="col">Tipo de Seguridad</th>
          <th scope="col">Plazo de Distribución</th>
          <th scope="col">Razón Social</th>
          <th scope="col">Contacto</th>
          <th scope="col">Dirección</th>
          <th scope="col">Autorizado</th>
          <th scope="col">Fecha de Creación</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envioCreado of enviosCreados">
          <td scope="col">
            <input type="checkbox" [(ngModel)]="envioCreado.checked" class="form-control">
          </td>
          <td scope="col">{{envioCreado.documentos[0].documentoAutogenerado }}</td>
          <td scope="col">{{envioCreado.buzon.nombre}}</td>
          <td scope="col">{{envioCreado.buzon.area.nombre}}</td>
          <td scope="col">{{envioCreado.clasificacion.nombre}}</td>
          <td scope="col">{{envioCreado.tipoServicio.nombre}}</td>
          <td scope="col">{{envioCreado.tipoSeguridad.nombre}}</td>
          <td scope="col">{{envioCreado.plazoDistribucion.nombre}}</td>
          <td scope="col">{{envioCreado.documentos[0].razonSocialDestino}}</td>
          <td scope="col">{{envioCreado.documentos[0].contactoDestino}}</td>
          <td scope="col">{{envioCreado.documentos[0].direccion}}</td>
          <td scope="col">{{envioService.getUltimoSeguimientoAutorizacion(envioCreado).estadoAutorizado.nombre}}</td>
          <td scope="col">{{documentoService.getFechaCreacion(envioCreado.documentos[0])}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #mensaje>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No tienes envios individuales a custodiar
      </div>
    </div>
  </div>
</ng-template>
<div class="row">
  <ngx-barcode hidden *ngFor="let envioCreado of enviosCreados" id="{{envioCreado.documentos[0].documentoAutogenerado}}" [bc-value]="envioCreado.documentos[0].documentoAutogenerado" [bc-display-value]="true"></ngx-barcode>
</div>