<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Registro envío masivo</h2>
    </div>
  </div>
  <div class="col-2 text-right">
    <div class="pb-2 mt-4 mb-2">
      <a class="btn btn-primary" [href]="rutaPlantilla" target="_blank">
        Plantilla de Carga
      </a>
    </div>
  </div>
</div>

<app-datos-buzon>
</app-datos-buzon>

<div class="row justify-content-center">
  <div class="col-12">
    <div class="card mb-2">
      <div class="card-header">
        <h5>Datos del envío</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="masivoForm" (ngSubmit)="onSubmit(masivoForm)">

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="sedeDespacho">Sede Despacho *</label>
                <select class="form-control" id="sedeDespacho" formControlName="sedeDespacho">
                  <option *ngFor="let sedeDespacho of sedesDespacho" [ngValue]="sedeDespacho">{{sedeDespacho.nombre}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="plazoDistribucion">Plazo de Distribución *</label>
                <select class="form-control" id="plazoDistribucion" formControlName="plazoDistribucion">
                  <option *ngFor="let plazoDistribucion of plazosDistribucion" [ngValue]="plazoDistribucion">
                    {{plazoDistribucion.nombre}}</option>
                </select>
                <span *ngIf="!masivoForm.get('plazoDistribucion').valid && masivoForm.get('plazoDistribucion').touched"
                  class="text-danger small">
                  Es necesario ingresar el plazo de distribución
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="producto">Producto *</label>
                <select class="form-control" id="producto" formControlName="producto">
                  <option *ngFor="let producto of productos" [ngValue]="producto">{{producto.nombre}}</option>
                </select>
                <span *ngIf="!masivoForm.get('producto').valid && masivoForm.get('producto').touched"
                  class="text-danger small">
                  Es necesario la elección de un producto
                </span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="clasificacion">Clasificación *</label>
                <select class="form-control" id="clasificacion" formControlName="clasificacion">
                  <option *ngFor="let clasificacion of clasificaciones" [ngValue]="clasificacion">
                    {{clasificacion.nombre}}</option>
                </select>
                <span *ngIf="!masivoForm.get('clasificacion').valid && masivoForm.get('clasificacion').touched"
                  class="text-danger small">
                  Es necesario ingresar la clasificación
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="tipoSeguridad">Tipo de Seguridad *</label>
                <select class="form-control" id="tipoSeguridad" formControlName="tipoSeguridad">
                  <option *ngFor="let tipoSeguridad of tiposSeguridad" [ngValue]="tipoSeguridad">
                    {{tipoSeguridad.nombre}}</option>
                </select>
                <span *ngIf="!masivoForm.get('tipoSeguridad').valid && masivoForm.get('tipoSeguridad').touched"
                  class="text-danger small">
                  Es necesario ingresar el tipo de seguridad
                </span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="tipoServicio">Tipo de Servicio *</label>
                <select class="form-control" id="tipoServicio" formControlName="tipoServicio">
                  <option *ngFor="let tipoServicio of tiposServicio" [ngValue]="tipoServicio">{{tipoServicio.nombre}}
                  </option>
                </select>
                <span *ngIf="!masivoForm.get('tipoServicio').valid && masivoForm.get('tipoServicio').touched"
                  class="text-danger small">
                  Es necesario ingresar el tipo de servicio
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="cantidadDocumentos">Elegir archivo de Datos : </label>
                <input type="file" class="form-control-file"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="excel"
                  formControlName="excel" (change)="onChangeExcelFile($event.srcElement.files[0])">
              </div>
            </div>
          </div>

          <br>
          <div class="row" *ngIf="documentosIncorrectos.length !== 0">
            <div class="col">
              <h5>Subir Correcciones</h5>
              <div class="cantidadCorrectos">
                <label for="cantidadCorrectos">Cantidad de documentos correctos : {{documentosCorrectos.length}}</label>
              </div>
              <div class="cantidadIncorrectos">
                <label for="cantidadIncorrectos">Cantidad de documentos incorrectos : {{documentosIncorrectos.length}}</label>
              </div>              
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <input type="file" class="form-control-file"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="excel"
                      formControlName="excel2" (change)="onChangeExcelFile($event.srcElement.files[0])">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group"
            *ngIf="masivoForm.get('plazoDistribucion').value && masivoForm.get('plazoDistribucion').value.id > plazoDistribucionPermitido.id">
            <label for="autorizacion">
              Autorización
            </label>
            <input type="file" class="form-control-file" id="autorizacion" formControlName="autorizacion"
              (change)="onChangeAutorizacionFile($event.srcElement.files[0])" accept=".msg">
          </div>

          <div class="row">
            <div class="button-group col text-right mb-4 mt-4">
              <button class="btn btn-outline-success" type="submit">
                Registrar
              </button>
            </div>
          </div>
          
          <ngx-barcode id="codebarMasivo" [bc-value]="autogeneradoCreado" [bc-display-value]="true" hidden>
          </ngx-barcode>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- [disabled]="!masivoForm.valid && documentosCargados.length   === 0" -->