<div class="card">

  <div class="modal-header">
    <h4>Agregar plazo de distribución</h4>
  </div>

  <form [formGroup]="agregarForm" (ngSubmit)=onSubmit(agregarForm.value)>

    <div class="card-body">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="nombre">Nombre del Plazo</label>
            <input class="form-control" type="text" name="nombre" id="nombre" formControlName="nombre">
            <span *ngIf="!agregarForm.get('nombre').valid && agregarForm.get('nombre').touched" class="text-danger small">
                Es necesario ingresar el nombre del Plazo de distribución.
              </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="tiempoEnvio">Plazo de Distribución (horas)</label>
            <input class="form-control" type="number" name="tiempoEnvio" id="tiempoEnvio" formControlName="tiempoEnvio">
            <span *ngIf="!agregarForm.get('tiempoEnvio').valid && agregarForm.get('tiempoEnvio').touched" class="text-danger small">
                Es necesario ingresar las horas del Plazo de distribución
              </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="tipoPlazoDistribucion">Tipo de Plazo</label>
            <select class="form-control" id="tipoPlazoDistribucion" formControlName="tipoPlazoDistribucion">
              <option *ngFor="let tipoPlazoDistribucion of tiposPlazos" [ngValue]="tipoPlazoDistribucion">{{tipoPlazoDistribucion.nombre}}
              </option>
            </select>
            <span *ngIf="!agregarForm.get('tipoPlazoDistribucion').valid && agregarForm.get('tipoPlazoDistribucion').touched"
              class="text-danger small">
              Es necesario la elección de un Tipo de Plazo
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!agregarForm.valid">Agregar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>