<div class="row" >
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2" >
      <h1>Documentos Varios - Indicador de Efectividad</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <div class="card mb-5">
      <div class="card-header">
        <h4>Datos de Consulta</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="busquedaForm" (ngSubmit)="MostrarReportes(busquedaForm.get('fechaIni').value, busquedaForm.get('fechaFin').value)">
          <div class="form-row">
            <div class="col-4">
              <div class="form-group">
                <label for="fechaIni">Fecha Inicial</label>
                <input class="form-control" type="month" formControlName="fechaIni">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="fechaFin">Fecha Final</label>
                <input class="form-control" type="month" formControlName="fechaFin">
              </div>
            </div>

            <div class="col-4 mt-4">
              <div class="col">
                <button type="submit" class="btn btn-primary form-control mt-2">
                  CONSULTAR
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="documentos.length > 0; else mensaje">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header">
        <div class="titulo">
          <h4>Indicador de Efectividad</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <jqxChart #myChart [height]="500" [title]="'Indicador de Efectividad'" [description]="''" [showLegend]="true"
              [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding" [source]="graficoEficacia" [xAxis]="getAxis"
              [valueAxis]="getValueAxis" [seriesGroups]="getSeriesGroups" [colorScheme]="'scheme04'">
            </jqxChart>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let eficaciaMes of graficoEficacia">{{eficaciaMes.mes}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col" *ngFor="let eficaciaMes of graficoEficacia">{{eficaciaMes.porcentaje | number: '1.2'}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="documentos.length > 0">
      <div class="card mb-4" *ngFor="let proveedor of proveedores">
        <div class="card-header">
          <div class="titulo">
            <h4>{{proveedor.nombre}}</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ESTADOS</th>
                    <th scope="col" *ngFor="let eficaciaMes of graficoEficacia">{{eficaciaMes.mes}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td scope="col">PORCENTAJE</td>
                      <td scope="col" *ngFor="let mes of mesesConsulta">{{getPorcentajePorProveedorYMes(mes, proveedor.id) | number: '1.2'}}% </td>
                  </tr>
                  <tr *ngFor="let estadoDocumento of estadosDocumento | orderBy: id: false">
                    <td scope="col">{{estadoDocumento.nombre}}</td>
                    <td scope="col" *ngFor="let mes of mesesConsulta">{{getCantidadPorProveedorMesYEstado(estadoDocumento.id, mes, proveedor.id)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #mensaje>
    <div class="row">
      <div class="col">
        <div class="alert alert-info" role="alert">
          No se encontraron documentos
        </div>
      </div>
    </div>
  </ng-template>