<div class="row">
  <div class="col-10">
    <div class="pb-2 mt-4 mb-2">
      <h2>Proceso de guías</h2>
    </div>
  </div>
  <div class="col-2 text-right">
    <div class="pb-2 mt-4 mb-4">
      <a class="btn btn-primary" [href]="rutaPlantillaResultados" target="_blank">
        Plantilla de carga
      </a>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">
    <div class="card mb-2">
      <div class="card-header">
        <h5>Descarga de bases y subida de resultados</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="procesarForm" (ngSubmit)="onSubmit(procesarForm)">

          <div *ngIf="guias.length !== 0">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <h5>Subir archivo de datos :</h5>
                  <input type="file" class="form-control-file"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="excel"
                    formControlName="excel" (change)="onChangeExcelFile($event.srcElement.files[0])">
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="resultadosIncorrectos.length === 0 && resultadosCorrectos.length > 0">
            <div class="form-row">
              <div class="col">
                <div class="ml-3">
                  <div class="form-group">
                    <div class="cantidadCorrectos">
                      <label for="cantidadCorrectos">Cantidad de documentos correctos :
                        {{resultadosCorrectos.length}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="resultadosIncorrectos.length > 0 && resultadosCorrectos.length === 0">
            <div class="form-row">
              <div class="col">
                <div class="ml-3">
                  <div class="form-group">
                    <div class="cantidadCorrectos">
                      <label for="cantidadCorrectos">Cantidad de documentos correctos :
                        {{resultadosCorrectos.length}}</label>
                    </div>
                    <div class="cantidadIncorrectos">
                      <label for="cantidadIncorrectos">Cantidad de documentos incorrectos :
                        {{resultadosIncorrectos.length}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="resultadosIncorrectos.length !== 0 && resultadosCorrectos.length !== 0">
            <div class="form-row">
              <div class="col">
                <div class="ml-3">
                  <div class="form-group">
                    <div class="cantidadCorrectos">
                      <label for="cantidadCorrectos">Cantidad de documentos correctos :
                        {{resultadosCorrectos.length}}</label>
                    </div>
                    <div class="cantidadIncorrectos">
                      <label for="cantidadIncorrectos">Cantidad de documentos incorrectos :
                        {{resultadosIncorrectos.length}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="guias.length !== 0">
            <div class="row">
              <div class="button-group col text-right mb-4">
                <button class="btn btn-outline-success"
                  [disabled]="!procesarForm.valid || resultadosCorrectos.length === 0" type="submit">
                  Registrar
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="guias.length !== 0; else mensaje">
            <ng2-smart-table [settings]="settings" [source]="dataGuiasPorProcesar"></ng2-smart-table>
          </div>

          <ng-template #mensaje>
            <div class="row">
              <div class="col">
                <div class="alert alert-info" role="alert">
                  No existen guias por procesar.
                </div>
              </div>
            </div>
          </ng-template>
        </form>
      </div>


    </div>
  </div>
</div>