<div class="card">

  <div class="modal-header">
    <h6>Modificar proveedor</h6>
  </div>

  <form [formGroup]="modificarForm" (ngSubmit)=onSubmit(modificarForm.value)>

    <div class="card-body">
      <div class="form-row">
        <div class="col-9">
          <div class="form-group">
            <label for="nombreProveedor">Nombre del proveedor</label>
            <input class="form-control" type="text" name="nombreProveedor" id="nombreProveedor"
              formControlName="nombreProveedor">
            <span *ngIf="!modificarForm.get('nombreProveedor').valid && modificarForm.get('nombreProveedor').touched"
              class="text-danger small">
              El nombre del Proveedor no puede estar vacío
            </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-9">
          <div class="form-group">
            <label for="activo">Estado</label>
            <select class="form-control" id="activo" formControlName="activo">
              <option value="true">ACTIVADO
              </option>
              <option value="false">DESACTIVADO
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>


    <div class="modal-footer">
      <button type="submit" class="btn btn-success"
        [disabled]="!modificarForm.valid || modificarForm.pristine">Modificar</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancelar</button>
    </div>

  </form>

</div>